/* 
.contact-container { max-width: 900px; margin: 2rem auto; padding-left: 3rem; }
.form-wrapper {
  margin-left: 2rem;  
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 24px;
}
.field,
.field .mat-mdc-form-field,
.field .mdc-text-field { width: 100%; }
.full { grid-column: 1 / -1; }
@media (max-width: 768px) {
  .form-grid { grid-template-columns: 1fr; }
  .full { grid-column: auto; } 
}
.actions { text-align: center; margin-top: 16px; } */




#certifications {
  margin-top: 40px;
  margin-left:15px;
}

#certifications h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.cert-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 18px;
}

.cert-block {
  padding: 14px 18px;
  border-radius: 10px;
  background: #f2f4f8;
  border-left: 4px solid #22b573;
}

.cert-block h3 {
  margin: 0 0 6px 0;
  font-size: 18px;
}

.cert-block p {
  margin: 0;
  color: #333;
}

#awards {
  margin-left: 15px;;
  margin-top: 40px;
}

#awards h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.award-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 18px;
}

.award-block {
  padding: 14px 18px;
  border-radius: 10px;
  background: #f2f4f8;
  border-left: 4px solid #ffb400;
}

.award-block h3 {
  margin: 0 0 6px 0;
  font-size: 18px;
}

.award-block p {
  margin: 0;
  color: #333;
  line-height: 1.5;
}
