img.rounded-circle {
  transition: transform 0.3s ease-in-out;
}

img.rounded-circle:hover {
  transform: scale(1.05);
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2c2f3f;   /* dark background circle */
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 6px;
  border-radius: 50%;     /* makes them circular */
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #0d6efd;   /* Bootstrap primary color on hover */
  color: #fff;
  text-decoration: none;
}


.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu ul li {
  margin: 15px 0;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 20px;
  margin-right: 10px;
  color: #6c757d;
  transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu .active {
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i {
  color: #0d6efd; /* Bootstrap primary */
}
.mobile-nav-toggle{
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 28px;
  cursor: pointer;
  z-index: 10000;
  color: #fff;
  background:#149ddd;
  border-radius: 50%;
  padding: 8px;
  display: none;
}

@media(max-width:1199px){
  .mobile-nav-toggle{
    display:block;
  }
}
