/* #resume, #about, #contact, #home {
  margin-left: 260px;  
  padding: 20px;
} */

#main-content {
  margin-left: 270px; /* same as sidebar width */
  padding: 20px;
}

#main {
  margin-left: 300px;
}

@media(max-width:1199px) {
  #header { left:-300px; }
  #main { margin-left:0; }
}

.mobile-nav-active #header {
  left:0;
}
