<!-- <section id="skills" class="skills section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Skills</h2>
    </div>
    <div class="row skills-content">
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">Angular <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 90%;"></div>
          </div>
        </div>
        <div class="progress">
          <span class="skill">TypeScript <i class="val">85%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" style="width: 85%;"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">Spring Boot <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" style="width: 80%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="skills">
  <h2 class="mb-0 section-title">Skills</h2>

  <div class="skills-container">

    <div class="skill-block">
      <h3>Frontend</h3>
      <p>
        Angular 11+ / 12 / 14 / 16+ / 19, TypeScript, RxJS, NgRx,
        GraphQL, HTML5, CSS3
      </p>
    </div>

    <div class="skill-block">
      <h3>Backend</h3>
      <p>
        Java 8, Spring Boot 3+,MicroServices,Red REST APIs, GraphQL APIs, Kafka,Python,Gen AI,Fast API
      </p>
    </div>
    <div class="skill-block">
      <h3>DataBases</h3>
      <p>
        MySQL, PostgreSQL, Oracle 19c
      </p>
      </div>
    <div class="skill-block">
      <h3>Testing</h3>
      <p>
        Jasmine, Karma, Jest, SonarQube
      </p>
    </div>

    <div class="skill-block">
      <h3>DevOps</h3>
      <p>
        Docker, Kubernetes, CI/CD (Jenkins, GitHub Actions), Linux
      </p>
    </div>

    <div class="skill-block">
      <h3>Tools</h3>
      <p>
        Git, Postman, Swagger, VS Code, Figma
      </p>
    </div>

    <div class="skill-block">
      <h3>Methodologies</h3>
      <p>
        Agile / Scrum, TDD, Clean Architecture
      </p>
    </div>

  </div>
</section>

